#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
.img-wrapper {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.responsive-img {
  width: 80%;
  height: auto;
}

.spacer {
  height: 3rem;
}

.select-option {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 7px;
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
}

.footer {
  background:
  rgb(41, 47, 83);
  color:
  white;
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: small;

  ion-icon {
    margin-right: 7px;
    font-size: 24px;
    position: relative;
    top: 7px
  }
}

@media (max-width: 399px)  {
  #container {
    top: 55%;
  }
}
